* {
    margin: 0;
    padding: 0;
}

@mixin ulProperty() {
    display: flex;
    justify-content: space-around;
    background-color: rgb(125, 98, 148);
    gap: 10px;

    li {
        padding: 10px;
        margin: 5px 0px;
        border: 1px dotted black;
        border-radius: 50px;
        background-color: rgb(185, 134, 134);

        a {
            text-decoration: none;
            color: white;
        }

        &:hover {
            background-color: rgb(207, 22, 22);

            a {
                color: black;
            }
        }
    }

}

ul {
    list-style: none;
}


.navbar {
    @include ulProperty();
    justify-content: space-between;
  
    .first {

        > ul {
            @include ulProperty();
            li{
                position:relative;
                
                >ul{
                    position:absolute;
                    background-color: rgb(125, 98, 148);
                    top:40px;
                    left:0;
                    display:none;
                }

                &:hover{
                    >ul{
                        display:block;
                        display:flex;
                        left:0px;
                    }
                }
            }
    
        }
    }

    .second {
        >ul {
            @include ulProperty();
        }
    }
}

.container {
    margin-top: 30px;
    margin-bottom: 50px;
    >div{
        ul{
            display: flex;
            gap:10px;
            flex-wrap: wrap;
            justify-content: space-around;
            li{
                width: 250px;
                height: 300px;
                border:1px solid black;
                position: relative;
                .image{ 
                    img{
                        width: 200px;                   
                        position:absolute;
                        top:30%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }   
                
                .disc{
                    h3{
                        position:absolute;
                        top:70%;
                        left:50%;
                        transform:translate(-50%,-50%);
                        text-align: center;
                        width: 200px;
                    }
                }
                .price{
                    display: flex;
                    gap: 80px;
                    position: absolute;
                    bottom: 10px;
                    left: 5px;
                }

        
            }
        }
    }
}